IdManagerWeb/WebContent/wsdl/IIDManagerController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:idmanager.iyte" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:idmanager.iyte" xmlns:intf="urn:idmanager.iyte" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="urn:idmanager.iyte" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="IYTEOrgPerson">
    <sequence>
     <element name="fullName" nillable="true" type="soapenc:string"/>
     <element name="givenName" nillable="true" type="soapenc:string"/>
     <element name="lastName" nillable="true" type="soapenc:string"/>
     <element name="mailAccount" nillable="true" type="soapenc:string"/>
     <element name="middleName" nillable="true" type="soapenc:string"/>
     <element name="userId" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="authenticateResponse">

      <wsdl:part name="authenticateReturn" type="impl:IYTEOrgPerson"/>

   </wsdl:message>

   <wsdl:message name="getAuthenticableSubjectRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAuthenticableSubjectResponse">

      <wsdl:part name="getAuthenticableSubjectReturn" type="impl:IYTEOrgPerson"/>

   </wsdl:message>

   <wsdl:message name="authenticateRequest">

      <wsdl:part name="in0" type="impl:IYTEOrgPerson"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="IIDManagerController">

      <wsdl:operation name="getAuthenticableSubject" parameterOrder="in0">

         <wsdl:input message="impl:getAuthenticableSubjectRequest" name="getAuthenticableSubjectRequest"/>

         <wsdl:output message="impl:getAuthenticableSubjectResponse" name="getAuthenticableSubjectResponse"/>

      </wsdl:operation>

      <wsdl:operation name="authenticate" parameterOrder="in0 in1">

         <wsdl:input message="impl:authenticateRequest" name="authenticateRequest"/>

         <wsdl:output message="impl:authenticateResponse" name="authenticateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IIDManagerControllerSoapBinding" type="impl:IIDManagerController">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAuthenticableSubject">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAuthenticableSubjectRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:idmanager.iyte" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAuthenticableSubjectResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:idmanager.iyte" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:idmanager.iyte" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="authenticateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:idmanager.iyte" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IIDManagerControllerService">

      <wsdl:port binding="impl:IIDManagerControllerSoapBinding" name="IIDManagerController">

         <wsdlsoap:address location="http://localhost:8080/IdManagerWeb/services/IIDManagerController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
